ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(64, 224, 208, 0.6);
  margin: 4px;
  border-radius: 20px;
  box-shadow: 3px 3px 5px lightblue;
  text-align: left;
  padding-left: 20px;
  color: darkblue;
  font-weight: bold;
}
